# systemctl service config file
# port 8080

[Unit]
Description=archivestream-proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1

User=user
Group=user
WorkingDirectory=/home/user/archivestream-proxy/
ExecStart=pipenv run mitmdump -s archivestream-proxy.py \'!~a\'

[Install]
WantedBy=multi-user.target

# sudo ln -sv /home/user/archivestream-proxy/archivestream-proxy.service /etc/systemd/system/archivestream-proxy.service
